.nameInputBox{
    width: 100%;
    text-align: center;

}

.nameInput{
    margin: 0px 0 5px 0;
    width: 80%;
    margin-left: 10%;
    height: 3rem;
    font-size: 2.5rem;
    padding-left: 1%;
    display: none;
    opacity: 0;
    
}

.searchResultsBox{
    position: relative;
    margin: 2.5px 0;
    width: 81.1%;
    margin-left: 10%;
    color: white;
    font-size: 2rem;
}
.searchResultBar{
    width: 100%;
    position: relative;
    height: 3rem;
    /* margin: 2px 0; */
    border: 1px solid rgba(255, 255, 255, 0.384);
    background: #d4004ebe;
    z-index: 1; 

}

.searchResultBar:hover{
    cursor: pointer;
    background: #d4004e;
    transform: scale(1.01)
}

.searchResultText{
    text-decoration: none;
    pointer-events: none;
    padding-top: 7px;
    z-index: -1;
}
